
 <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" onclick="location.reload();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Dodaj nową kategorie</h4>
     </div>
     <div class="modal-body">
        <div class="new_category">
         <form method="POST" name="add_category" id="new_category">
         <h4>Nazwa</h4>
         <input type="text" class="form-control" placeholder="Nazwa kategorii" autofocus>
         <h4>Szukaj</h4>
         <input type="text" class="form-control" placeholder="Nazwa kategorii do wyszukiwania">

         </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
       <button type="submit" class="btn btn-primary" id="add_category">Dodaj</button>
     </div>
      </form>
   </div>
 </div>
</div>
