

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Show element</h4>
      </div>
      <div class="modal-body">

				<div class="panel panel-primary">
						<div class="panel-heading">Nazwa</div>
							<div class="panel-body">
									<div id="modal_nazwa"></div>
						</div>
					</div>
					<div class="panel panel-primary">
	 						<div class="panel-heading">Kategoria</div>
	 							<div class="panel-body">
	 									<div id="modal_kategoria"></div>
	 						</div>
	 					</div>
						<div class="panel panel-primary">
								<div class="panel-heading">Opis</div>
									<div class="panel-body">
											<div id="modal_opis"></div>
								</div>
							</div>

      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-info">Wypożycz</button>
				<button type="button" class="btn btn-warning">Edytuj</button>
				<button type="button" class="btn btn-danger">Usuń</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
       </form>
    </div>
  </div>
</div>
