<script>
 $(document).ready(function(){
	 $.ajax({
		 type:"POST",
		 dataType:"json",
		 async:false,
		 url:"/php/kategorie.php",
		 success:function(msg)
		 {
			 if(msg!="error")
			 {
					for(var a = 1; a<msg.length;a++)
					{
					 var query = $("<option>"+msg[a]['szukaj']+"</option>");
					 $('#edit_modal_kategoria').append(query);
				 }
			 }
		 }
	 });


     var user = getUser($('#login').data('value'),$('#password').data('value'));
     if(user.admin == 1)
     {
        $('#edytuj_element').removeClass('disapear');
        $('#usun_element').removeClass('disapear');

     }




 });


</script>




	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<center>
				<h4 class="modal-title" id="myModalLabel">Element o numerze:</h4>
				<h5><div id="modal_id"></div><h5>
			</center>
      </div>
      <div class="modal-body">

       <form method="POST" name="edit_element" id="edit_element">
				<div class="list-group">
  			<a href="#" class="list-group-item">
    		<h4 class="list-group-item-heading">Nazwa elementu</h4>
    		<p class="list-group-item-text">
             <div id="modal_nazwa" class="subelement"></div>
						 <input type="text" class="form-control edit disapear" id="edit_modal_nazwa">
				</p>
  			</a>
  			<a href="#" class="list-group-item">
    		<h4 class="list-group-item-heading">Kategoria</h4>
    		<p class="list-group-item-text">
   					<div id="modal_kategoria" class="subelement"></div>
						<select class="form-control edit disapear" id="edit_modal_kategoria">

						</select>
				</p>
  			</a>
				<a href="#" class="list-group-item">
    		<h4 class="list-group-item-heading">Opis</h4>
    		<p class="list-group-item-text">
						<div id="modal_opis" class="subelement"></div>
						<textarea class="form-control edit disapear" rows="3" id="edit_modal_opis"></textarea>
				</p>
  			</a>
        <a href="#" class="list-group-item edit disapear">
    		<h4 class="list-group-item-heading">Zepsuty element?</h4>
    		<p class="list-group-item-text">
          <div class="checkbox">
             <label>
           <input type="checkbox" value="" id="zepsuty"> Check
          </label>
           </div>

				</p>
  			</a>
				</div>
			</form>
       <div id="zapytanie" class="disapear">
        <hr style="width:100%;">
        <h4> Do czego wykorzystasz element ? </h4>
      	<textarea class="form-control" rows="4" id="zapytanie_opis"></textarea>
      </div>
      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-info" id="wypozycz_element" >Wypożycz</button>
        <button type="button" class="btn btn-warning disapear" id="edytuj_element">Edytuj</button>
				<button type="button" class="btn btn-danger disapear" id="usun_element">Usuń</button>
				<button type="button" class="btn btn-primary disapear" id="anuluj_edytowanie" style="float:left;" >Anuluj</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Close</button>
      </div>
       </form>
    </div>
  </div>
</div>
